<%- include('header') -%>

 <form action="/qcms/new" method="POST">
    <div>
        <label for="name">Nom</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="subject">Sujet</label>
        <input type="text" id="subject" name="subject">
    </div>
    <div>
        <label for="nbpoints">Nb points</label>
        <input type="number" id="nbpoints" name="nbpoints">
    </div>

    <div class="questions">
    </div>

    <button class="addQuestionbtn">Ajouter une question</button>

    <input type="submit" value="Create">
</form>

<script>
    let questionsContainer = document.querySelector('.questions');
let addQuestion = document.querySelector('.addQuestionbtn');
let questionCounter = 1;

addQuestion.addEventListener('click', function(e){
    e.preventDefault();
    let questionInput = `
    <div class='question'>
        <label for="question-${questionCounter}">Question ${questionCounter}</label>
        <input type="text" id="question-${questionCounter}" name="questions[${questionCounter}][nom]">
        <div class='reponses'>
            <div class="reponse">
                <input type="text" name='questions[${questionCounter}][reponses][1][nom]'>
                <input type="checkbox" name='questions[${questionCounter}][reponses][1][isTrue]' >
            </div>
            <div class="reponse">
                <input type="text" name='questions[${questionCounter}][reponses][2][nom]'>
                <input type="checkbox" name='questions[${questionCounter}][reponses][2][isTrue]' >
            </div>
            <div class="reponse">
                <input type="text" name='questions[${questionCounter}][reponses][3][nom]'>
                <input type="checkbox" name='questions[${questionCounter}][reponses][3][isTrue]' >
            </div>
            <div class="reponse">
                <input type="text" name='questions[${questionCounter}][reponses][4][nom]'>
                <input type="checkbox" name='questions[${questionCounter}][reponses][4][isTrue]' >
            </div>
        </div>
    </div>
    `;
    questionsContainer.innerHTML+= questionInput;

    questionCounter++;
});
</script>

<%- include('footer') -%>